@import "../../../scss/variable";

:host ::ng-deep {
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
        border-radius: 20px;
    }
}

.section-categories {
    width: 100%;
    
    form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;

        nz-input-group,
        nz-select {
            border-radius: 20px;
            width: 100%;
        }
    
        @include media-breakpoint-up(md) {
            nz-input-group {
                width: 500px;
            }
        }
    
        @include media-breakpoint-up(md) {
            nz-select {
                width: 150px;
            }
        }
        
        .ant-divider-horizontal {
            margin: 20px 0px;
        }
    }
}

.section-video-list {
    height: calc(100% - 56px);
    overflow: auto;   
    position: relative;
    left: 8px;

    .video-list { 
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
        gap: 20px;
    
        .video-item {
            margin-bottom: 20px;
        }
    }
}

.empty-video-list {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}